<!DOCTYPE html>
<html lang="en">
<head id="header" title="User: <%- values.username %>">
<%- values.header %>
<meta charset="UTF-8">
<meta name="keywords" content="Social media, meown, meown.ml, meown.tk" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/assets/css/tools.css" rel="stylesheet" >
<script src="/assets/js/tools.js"></script>
<script src="/tools/functionpack.js"></script>
<link rel="stylesheet" href="/assets/css/simple.css">
<link rel="stylesheet" href="/assets/css/meown.css">
<link rel="stylesheet" href="/assets/css/simple-theme.css">
</head>
<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
<body class="simple-theme-background" >
<!-- Navbar -->
  
<div class="simple-navbar">
  
 <div class="simple-bar simple-theme-d2 simple-theme-border simple-left-align simple-large simple-round-xlarge">
  <br>
  <a class="simple-bar-item simple-hide-medium simple-hide-large simple-right simple-padding-large simple-hover-white simple-theme-d2 simple-round simple-mobile-button" >
    <i class="fa fa-bars"></i>
   </a>
   
   <a href="../" class="simple-bar-item simple-button simple-padding-16 simple-theme-logo simple-round">
    <i class="fa fa-home simple-margin-right"></i>
    Meown
   </a>
   
   <a id="nav">
   
   </a>
   
   <script>
     var connect = {
       "type":"join",
       "users":"members",
       "icon":"heart",
       "text":function (){return this.type}
     }
     
     window.addEventListener("load", async function () {
       connect.text = connect.text();
       
       if(
         ( await MeownApi(`${category}/${id}`).then((res)=>{
               return res[connect.users];
          }) ).includes(me)
         ){
         connect.icon = "heartbeat";
         connect.text = `Un${connect.text}`;
       }

       
       document.getElementById("nav").innerHTML +=
       `<a href="/connect/${connect.type}/${id}" class="simple-theme-text-favorite simple-bar-item simple-button simple-hide-small simple-padding-large simple-hover-white" title="${connect.text} @${id}"><i class="fa fa-${connect.icon}"></i></a>`;
     
     });
   </script>
   
   <div class="simple-bar-item simple-button simple-hide-small simple-right simple-padding-large simple-hover-white simple-dropdown-hover" title="My Account" >
    <div id="Status" class="simple-round-xlarge simple-theme-d2 simple-dropdown-content simple-bar-block simple-round" style="width:300px;right:0;top:78px;">
       
    <script>
     window.addEventListener("load", function () {
    var mobileStatus = document.getElementById("mobileStatus"),
        status = document.getElementById("Status"),
        me = getCookie("saved-username")||false;
      
    if (me){
      status.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button">Dashboard</a>
      <form method="get" action="/logout"><button type="submit" class="simple-bar-item simple-button">Logout</button></form>`;
      mobileStatus.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button simple-padding-large">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button simple-padding-large">Dashboard</a>`;
    }
    else{
      status.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button">Login</a>
      <a href="/register" class="simple-bar-item simple-button">Register</a>`;
      mobileStatus.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button simple-padding-large">Login</a>
      <a href="/register" class="simple-bar-item simple-button simple-padding-large">Register</a>`;
    }
      
    status.innerHTML+=`
    <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find User" style="width:20vw;"></form>
    <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find Community" style="width:20vw;"></form>
    <a onclick="window.open('','_self').close();" class="simple-button">Close</a>`
    mobileStatus.innerHTML+=`
    <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find User" style="width:80vw;"></form>
    <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find Community" style="width:80vw;"></form>
    <a onclick="window.open('','_self').close();" class="simple-bar-item simple-button simple-padding-large">Close</a>`;
});
  </script>
    </div>
    <img onclick="location.replace('/u')" class="simple-circle simple-theme-border " style="height:30px;width:30px" alt="Avatar" id="myAvatar">
     <script>
       window.addEventListener("load", async function () {
         document.getElementById("myAvatar").setAttribute("src", await MeownApi(`user/${getCookie("saved-username")||"guest"}`).then((res)=>{
           return res.avatar;
         })||"");
      });
     </script>
   </div>
   <!-- Navbar on small screens -->
  <div class="simple-bar-block simple-theme-d2 simple-hide-large simple-hide-medium simple-large simple-mobile-options">
  <span id="mobileStatus"></span>
  </div>
   
 </div>
</div>


<!-- Page Container -->
<div class="simple-container simple-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="simple-row">
    <!-- Left Column -->
    <div class="simple-col m3 simple-theme-text-1">
      <!-- Profile -->
      <!--<div class="simple-card simple-round simple-white">-->
      <div id="profileBackground" class="simple-theme-l5 simple-card simple-round">
      <script>window.addEventListener("load", async function() {document.getElementById("profileBackground").setAttribute("style",await MeownApi(`${category}/${id}`).then(res => {return ` background: url(${res.background||""}) no-repeat 0px 0px/100% 100%`;} ) );} );</script>
        <div class="simple-container"><br> 
          <div class="simple-card simple-round" style="background-image: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3) )">
            <div class="simple-container">
              <h4 class="simple-center" id="profileName">
                Null
                <script>window.addEventListener("load", async function () {document.getElementById("profileName").innerHTML=id;})</script>
              </h4>
              <p class="simple-center">
                <img id="profileAvatar" src="" class="simple-circle" style="height:106px;width:106px;border: 2px solid black;" alt="User Avatar">
                <script>window.addEventListener("load", async function () {document.getElementById("profileAvatar").setAttribute("src", await MeownApi(`${category}/${id}`).then((res)=>{return res.avatar;})||"");});</script>
              </p>
              <hr>
            </div>
          </div>
        </div>
      <br>
      </div>
      <br>
      
      <!-- Accordion -->
      <!--
      <div class="simple-card simple-round">
        <div class="simple-white">
          <- values.buttons %>
        </div>      
      </div>
      <br>
      -->

      <!-- Interests --> 
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-hide-small">
        <div class="simple-container">
          <p>Interests</p>
          <p></p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="simple-theme-l4 simple-container simple-display-container simple-round simple-theme-border simple-margin-bottom simple-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="simple-button simple-display-topright simple-round" style="filter: brightness(90%);">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hello!</strong></p>
        <p>This is a notification box which currently has no use :p</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="simple-col m7 simple-theme-text-1">
      <div class="simple-container simple-card simple-round simple-margin" id="myBanner">
        <script>
          window.addEventListener("load", async function () {
           var banner = document.getElementById("myBanner");
           banner.setAttribute("style",` background: url('${await MeownApi(`${category}/${id}`).then((res)=>{return res.banner;})||""}'); background-size: 100% 100%;`);
          });
        </script>
        
        <div class="simple-container simple-card simple-round simple-margin" style="background-image: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3) );">
          <h4>[About me]</h4><br>
          <p id="description">"None"</p>
          <script>window.addEventListener("load", async function () {document.getElementById("description").innerHTML=await MeownApi(`${category}/${id}`).then((res)=>{return res.description||"Error";})});</script>
        </div>
      </div>
      

<div id="sendPost" class="simple-theme-l5 simple-container simple-card simple-round simple-margin simple-theme-border">
  <h6 class="simple-opacity">New Post</h6>
  <input type="text" name="sentposttitle" id="postTitle" class="simple-round-xxlarge simple-theme-input simple-theme-border simple-padding" placeholder="Post Title" required>
  <input type="text" name="sentpostbody" id="postBody" class="simple-round-xxlarge simple-theme-input simple-theme-border simple-padding" placeholder="Post Body" required><br>
  <button class="simple-button simple-round-xlarge simple-theme-button simple-theme-text-2" onclick="sendPost();"><i class="fa fa-pencil"></i> <span>Send</span></button>
    <script>
    function sendPost(){
      var details = {
        method: 'new-post',
        id:id,
        category:category,
        title:document.getElementById("postTitle").value,
        body:document.getElementById("postBody").value
      }
      post('/edit', details).then((e)=>{location.reload();})
    }
  </script>
</div>

  
    <div id="postList" class="simple-theme-text-1"></div>
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="simple-col m2 simple-theme-text-1">
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center" id="speec">
      <p><span type="button" id="microphone" onclick="runSpeechRecognition()"><i class="fa fa-microphone fa-fw simple-margin-right"></i></span><span id="action"></span></p>
        <div id="output" class="hide"></div>
      </div><br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center">
        <p id="time" >Open Time<br>(May cause lag)</p>
      </div>
      
      <br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center">
        <p onclick="menu({title:'do you really want ads?'})">ADS</p>
      </div>
      
      <br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-32 simple-center">
        <p><i class="fa fa-bug simple-xxlarge" onclick="menu({title:'Reporting Bugs has not been added yet',body:'Sorry about that :p'})"></i><br>Report bugs</p>
      </div>
      
      <br>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
<input id="cb" type="text" hidden>
<script>
  var me = getCookie("saved-username")||"guest";
  var id = "<%- values.id %>";
  var category = "community"
  
  function max(input,max,result){if (!max)max = 10;result = max;if (input < max)result = input;return result;}
  
  async function MeownApi(input){
  var o=o||"";
  var r = await fetch(`/api/${input}`).then(l => l.json()).then(l => l.response)
  return r;
  }
  
MeownApi(`${category}/${id}?includeposts=true`).then(async data => {
  //console.log(data)
      var postList = document.getElementById("postList"),
          sendPost = document.getElementById("sendPost"),
          posts = data.posts||[],
          postsLength = data.posts.length-1||0;
  
      if (sendPost&&data.members&&data.members.includes(me)){sendPost.className = sendPost.className.replace("simple-hide", "");}
  
    while (postsLength > posts.length-max(posts.length+1,5)) {
      await addPost(data.posts[postsLength],[postsLength]);
      postsLength--;
    }
});

    async function addPost(values,index){
      values = values || {}
      values.index=index;
      values.username = values.author;
      var postTemplate = `
      <div class="simple-theme-l5 simple-theme-border simple-container simple-card simple-round simple-margin" id="post-${index}"><br>
        <img src="${await MeownApi(`user/${values.username}/?includeposts=true`).then(function(response){return response.avatar})}" alt="User_Avatar" class="simple-circle" style="width:90px;height:90px"> 
        <button class="simple-right simple-button simple-theme-button simple-round-xxlarge" style="" onclick="postMenu(${JSON.stringify(values).replace(/\"/g,"\'")})"><i class="fa fa-bars"></i></button>
        <span class="simple-right simple-opacity">
        #${index} 
        <i class="fa fa-heart"></i>:${values?.likes?.length?values.likes:0||0}</span>&nbsp;

        <br><b style="font-size: 2em;color:#e3c522;">&nbsp;${values.username||"unknown"}: </b>
        <a style="font-size: 1.5em;" class="simple-theme-text-1">${values.title}</a><br>
        <hr class="simple-clear">
        <p class="simple-theme-text-2">${values.body}</p>
        <hr class="simple-clear">
        <p class="simple-typewriter"> Date: ${typeof values.date !== "undefined" ? Date(values.date) : "Not Recorded"} </p>
      </div>
      `
      postList.innerHTML+=postTemplate;
    }//class="simple-theme-text-2" 
  
function postMenu(values){
  console.log(values)
  menu({'title':`@${values.id}, Post #${values.index}`,'body':`
  <form method="post" action="/edit" style="display:inline-block;">
  <input type="hidden" name="method" value="delete-post"> 
  <input type="hidden" name="id" value="${values.id}"> 
  <input type="hidden" name="number" value="${values.index}"> 
  <input type="hidden" name="category" value="${category||"user"}">
  <button type="submit">Delete Post</button>
  </form>
  <button onclick="copy("https://${location.hostname}/u/${values.id||"unknown"}#post-${values.index};");notification("Link Copied!");">Copy URL <i class="fa fa-link">
  </i>&nbsp;
  </button>
  ${values.likes?`<form method="post" action="/edit" style="display:inline-block;"> <input type="hidden" name="method" value="like"> <input type="hidden" name="type" value="posts"> <input type="hidden" name="sentname" value="${values.id}"> <input type="hidden" name="sentid" value="${values.number}"><button type="submit" onclick="notification("<3!")">Likes: <i class="fa fa-heart" ></i>${values?.likes?.length?values.likes:0||0}</button></form>`:""}`});
} 
  
function menu(values){
  values = values || {};
  
  var overlay = {
    main:document.getElementById('overlay'),
    title:document.getElementById('overlayTitle'),
    body:document.getElementById('overlayBody')
  }
  overlay.main.style.display='block';
  overlay.title.innerHTML=values.title||"";
  overlay.body.innerHTML=values.body||"";
}
  
function accordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
</script>
<div id="overlay" class="simple-modal simple-animate-opacity">
  <div class="simple-modal-content simple-round simple-card simple-theme-l5 simple-theme-border simple-theme-text-1" style="padding:32px">
    <div class="simple-container">
      <i onclick="document.getElementById('overlay').style.display='none'" class="fa fa-remove simple-xlarge simple-round-xxlarge simple-button simple-theme-button simple-right"></i>
      <h2 class="simple-wide" id="overlayTitle">Null Title</h2>
      <p id="overlayBody">Null Body</p>
    </div>
  </div>
</div>
<div id="assets"></div><!--Loads the extra files that aren't written in the document.-->
<script>
  window.onload = new_date();
<%- values.scripts %>
function new_date(){
var time = new Date().toString()
time=time.split(" ")
  time = `${time[0]} ${time[1]} ${time[2]} ${time[3]}<br>${time[4]}`
document.getElementById("time").innerHTML = `<p>Time:</p>${time}`;
setTimeout(function(){ new_date() }, 1300);
}
</script>
