
<body>
    <h1>Database Pin</h1>
    <form name="contact-form" method="POST" action="/data-result">
    <table>
        <tr>
        <td>Pass Code</td>
        <td><input type="text" name="sentpass" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="submit" ></td>
        </tr>
    </table>
    </form>   
</body>
