<!DOCTYPE html>
<html lang="en">
<head id="header">
<meta charset="UTF-8">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/assets/js/tools.js" defer></script>
<link href="/assets/css/tools.css" rel="stylesheet">
<link href="/assets/css/simple.css" rel="stylesheet">
<link href="/assets/css/meown.css" rel="stylesheet">
<link href="/assets/css/simple-theme.css" rel="stylesheet">
  <script data-ad-client="ca-pub-9294595868006747" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
<body class="simple-theme-background">


<!-- Page Container -->
<div class="simple-container simple-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="simple-row">
    <!-- Left Column -->
    <div class="simple-col m3 simple-theme-text-1">
      <div class="simple-theme-l5 simple-card simple-round simple-theme-border">
        <div style="margin: 0 auto; width:90%">
          <a class="twitter-timeline" style="display:inline-block;" data-height="500" href="https://twitter.com/OragoMosh?ref_src=twsrc%5Etfw">Tweets by OragoMosh</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      
      <br>
      
      <!-- Alert Box -->
      <div class="simple-theme-l4 simple-container simple-display-container simple-round simple-theme-border simple-margin-bottom simple-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="simple-button simple-display-topright simple-round" style="filter: brightness(90%);">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hello!</strong></p>
        <p>This is a notification box which currently has no use :p</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="simple-col m7 simple-theme-text-1">
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container simple-margin">
        <p class="crenzo center simple-center simple-theme-text-1 simple-text-large" id="title">Meown Forms</p>
      </div>
      
<div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container simple-margin">
  <h6 class="simple-opacity"></h6>
  <form method="POST" action="/login" id="form">
    <span id="formInputs"></span>
    <span id="formButtons"></span>
  </form>
</div>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container simple-margin">
  <ul class="simple-theme-text-1">
    <li><a href="/about" target="_blank">About Meown</a></li>
    <li><a href="#" target="_blank">Contact Me (Not added)</a></li>
    <li><a href="/terms" target="_blank">Terms and Conditions</a></li>
  </ul>
  
  <ul class="simple-theme-text-1">
     <li><a href="/u/orago" target="_blank">Created by Orago</a></li>
  </ul>
  
  <ul class="simple-theme-text-1">
    
  </ul>
</div>
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="simple-col m2 simple-theme-text-1">
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center">
      <p> </p>
      </div>
      
      <br>
      </div>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
  
<script>
  function caps(text){return text.charAt(0).toUpperCase() + text.slice(1);}
  
// Used to toggle the menu on smaller screens when clicking on the menu button
  async function MeownApi(input){
  var o=o||"";
  var r = await fetch(`/api/${input}`).then(l => l.json()).then(l => l.response)
  return r;
  }
  
function menu(values){
  values = values || {};
  
  var overlay = {
    main:document.getElementById('overlay'),
    title:document.getElementById('overlayTitle'),
    body:document.getElementById('overlayBody')
  }
  overlay.main.style.display='block';
  overlay.title.innerHTML=values.title||"";
  overlay.body.innerHTML=values.body||"";
}

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
  }
  return "";
}
</script>

</body>
</html> 
<div id="overlay" class="simple-modal simple-animate-opacity">
  <div class="simple-modal-content simple-round simple-card simple-theme-l5 simple-theme-border simple-theme-text-1" style="padding:32px">
    <div class="simple-container">
      <i onclick="document.getElementById('overlay').style.display='none'" class="fa fa-remove simple-xlarge simple-button simple-transparent simple-right simple-xlarge"></i>
      <h2 class="simple-wide" id="overlayTitle">Null Title</h2>
      <p id="overlayBody">Null Body</p>
    </div>
  </div>
</div>
<script>
  var connectType = "/login";
  
  window.addEventListener("load", async function () {
    setupPage(checkPage());
  })
  
function setupPage(values){
  document.getElementById("form").setAttribute("action",values.connect)
  
  values.form.inputs.forEach((e)=>{
    document.getElementById("formInputs").innerHTML += `<input type="${e.type || "text"}" name="${e.id}" placeholder="${e.name||"Null"}" class="simple-theme-input simple-theme-border simple-padding simple-round" style="width:100%" required>  <br><br>`;
    
  });
  values.form.buttons.forEach((e)=>{
    document.getElementById("formButtons").innerHTML +=  `<button class="simple-button simple-theme-button simple-round" onclick="${e.function||""}"><i class="fa fa-pencil"></i> ${e.name||"Null"}</button> `
  })
  connectType = values.connect;
  
  document.getElementById("title").innerHTML = values.title;
}
function buildForm(){
  
}
function checkPage(){
  var types = {
    "login":{
      "title":"Login",
      "connect":"/login",
      "form":{
        "inputs":[
          { id:"username", name:"Username", required:true },
          { id:"password", type:"password", name:"Password", required:true }
        ],
        "buttons":[
          { name:"Login" , function:"connect()"}
        ]
      }
      
    },
    "register":{
      "title":"Register",
      "connect":"/register",
      "form":{
        "inputs":[
          { id:"username", name:"Username", required:true },
          { id:"description", name:"Description", required:true },
          { id:"password", type:"password", name:"Password", required:true },
          { id:"passwordconfirm", type:"password", name:"Confirm Password", required:true },
          { id:"email", name:"Email", required:true }
        ],
        "buttons":[
          { name:"Register!" , function:"connect()"}
        ]
      }
    }
  }
  var result;
  
  if(getUrl(window.location.href).pathname){
    var i = getUrl(window.location.href).pathname;
    
    if (i == "/login") result = types.login;
    if (i == "/register") result = types.register;
  }
  return result;
}
</script>
<div id="assets"></div>
<!--Loads the extra files that aren't written in the document.-->