<!DOCTYPE html>
<html lang="en">
<head id="header">

  
  <title>Meown | Homepage!</title>
<meta property="og:title" content="Meown | Homepage!" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://meown.ml" />
<meta property="og:image" content="https://cdn.glitch.com/65f81ac1-5972-4a88-a61a-62585d79cfc0%2Fboxie-2048px.png?v=1594354728664" />
<meta property="og:description" content="A small social media made by one person" />
<meta name="theme-color" content="#cb3837">
<meta name="twitter:card" content="summary_large_image">
<link rel="icon" type="image/png" href="https://cdn.glitch.com/65f81ac1-5972-4a88-a61a-62585d79cfc0%2Fboxie32bfull.png">
<link id="favicon" rel="icon" href="https://cdn.glitch.com/65f81ac1-5972-4a88-a61a-62585d79cfc0%2Fboxie32bfull.png" type="image/x-icon">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="manifest" href="/manifest.json">

<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/service-worker.js");
      navigator.registerProtocolHandler(
    "web+meown", `${window.location.href}?q=%s`, "Meown"
  );
  }
</script>
  
<meta charset="UTF-8">
<meta name="keywords" content="Social media, meown, meown.ml, meown.tk" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/assets/js/tools.js" defer></script>
<link href="/assets/css/tools.css" rel="stylesheet">
<link href="/assets/css/simple.css" rel="stylesheet">
<link href="/assets/css/meown.css" rel="stylesheet">
<link href="/assets/css/simple-theme.css" rel="stylesheet">
  <script data-ad-client="ca-pub-9294595868006747" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<style>
  html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="simple-theme-background">
<!-- Navbar -->
<div class="simple-navbar">
  
 <div class="simple-bar simple-theme-d2 simple-theme-border simple-left-align simple-large simple-round-xlarge">
  <br>
  <a class="simple-bar-item simple-hide-medium simple-hide-large simple-right simple-padding-large simple-hover-white simple-theme-d2 simple-round simple-mobile-button" ><i class="fa fa-bars"></i></a>
   
   <a href="#" class="simple-bar-item simple-button simple-padding-large simple-theme-logo simple-round">
    <i class="fa fa-home simple-margin-right"></i>Meown
   </a>
   <div class="simple-bar-item simple-button simple-hide-small simple-right simple-padding-large simple-hover-white simple-dropdown-hover" title="My Account" >
    <div id="Status" class="simple-round-xlarge simple-theme-d2 simple-dropdown-content simple-bar-block simple-round" style="width:300px;right:0;top:78px;"></div>
    <img onclick="location.replace('/u')" class="simple-circle simple-theme-border " style="height:30px;width:30px" alt="Avatar" id="myAvatar">
     <script>
       window.addEventListener("load", async function () {
         document.getElementById("myAvatar").setAttribute("src", await MeownApi(`user/${getCookie("saved-username")||"guest"}`).then((res)=>{
           return res.avatar;
         })||"");
      });
     </script>
   </div>
   <!-- Navbar on small screens -->
  <div class="simple-bar-block simple-theme-d2 simple-hide-large simple-hide-medium simple-large simple-mobile-options">
  <span id="mobileStatus"></span>
  </div>
   
 </div>
  <script>
    window.addEventListener("load", function () {
    var mobileStatus = document.getElementById("mobileStatus"),
        status = document.getElementById("Status"),
        me = getCookie("saved-username")||false;
      
    if (me){
      status.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button">Dashboard</a>
      <form method="get" action="/logout"><button type="submit" class="simple-bar-item simple-button">Logout</button></form>`;
      mobileStatus.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button simple-padding-large">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button simple-padding-large">Dashboard</a>`;
    }
    else{
      status.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button">Login</a>
      <a href="/register" class="simple-bar-item simple-button">Register</a>`;
      mobileStatus.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button simple-padding-large">Login</a>
      <a href="/register" class="simple-bar-item simple-button simple-padding-large">Register</a>`;
    }
      
    status.innerHTML+=`
    <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find User" style="width:20vw;"></form>
    <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find Community" style="width:20vw;"></form>
    <a onclick="window.open('','_self').close();" class="simple-button">Close</a>`
    mobileStatus.innerHTML+=`
    <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find User" style="width:80vw;"></form>
    <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find Community" style="width:80vw;"></form>
    <a onclick="window.open('','_self').close();" class="simple-bar-item simple-button simple-padding-large">Close</a>`;
});
  </script>
</div>

<!-- Page Container -->
<div class="simple-container simple-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="simple-row">
    <!-- Left Column -->
    <div class="simple-col m3 simple-theme-text-1">
      <div class="simple-theme-l5 simple-card simple-round simple-theme-border">
        <div style="margin: 0 auto; width:90%">
          <a class="twitter-timeline" style="display:inline-block;" data-height="500" href="https://twitter.com/OragoMosh?ref_src=twsrc%5Etfw">Tweets by OragoMosh</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      
      <br>
      
      <!-- Alert Box -->
      <div class="simple-theme-l4 simple-container simple-display-container simple-round simple-theme-border simple-margin-bottom simple-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="simple-button simple-display-topright simple-round" style="filter: brightness(90%);">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hello!</strong></p>
        <p>This is a notification box which currently has no use :p</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="simple-col m7 simple-theme-text-1">
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container simple-margin">
        <p class="crenzo center simple-center simple-theme-text-1 simple-text-large">Welcome to Meown!</p>
      </div>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container simple-margin">
        <p>
          Meown is supposed to be a very simple social media with a quite simple database structure capable of doing many things making it easier to expand!
        </p>
        <p>
          Feel free to <a class="simple-button simple-theme-button simple-theme simple-round" href="/register">Join now !</a>
          and be one of the 
          <a id="userCount">
          0
          <script>window.addEventListener("load", async function () {document.getElementById("userCount").innerHTML=await MeownApi("users").then((res)=>{return res.size;})});</script> 
          </a>
          
          peeps to try Meown.
        </p>
          
        <p>
          There is currently 
          <a id="communiyCount">
          0
          <script>window.addEventListener("load", async function () {document.getElementById("communiyCount").innerHTML=await MeownApi("communities").then((res)=>{return res.size;})});</script>
          </a>
          
          Communties, So why wait when you can be a part of one!
        </p>
      </div>
      
<div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container simple-margin simple-theme-text-1" id="changelogs" onclick="openChangeLogs();">Not Loaded</div>
      
<script>
  var changeLogIndex = "last",
      changeLogMax = 0;
  function openChangeLogs(){
    openChangeLogPage(changeLogIndex);
  }
  
  async function openChangeLogPage(index){
    var changelogs = await MeownApi( "changelogs" ).then( ( values )=>{ return values } );
    var result = `<b>Changelogs:</b><br><span>${ changelog( index ).name }</span><br>`;
    
    function changelog (number){
      number==="last" ? number = Object.keys( changelogs ).length-1 : number=number;
      changeLogIndex = number;
      changeLogMax = Object.keys( changelogs ).length-1;
      if ( number &&! isNaN( number ) ){
        return {
          name: caps( Object.keys( changelogs )[ number ] ) || "Missing_Name",
          values: changelogs[ Object.keys( changelogs )[ number ] ] || "Missing_Values"
        }
      }
      else return {
        name: caps( Object.keys( changelogs )[ Object.keys( changelogs ).length-1 ] ) || "Missing_Name",
        values: changelogs[ Object.keys( changelogs )[ Object.keys( changelogs ).length-1 ] ] || "Missing_Values"
      };
    }
    
    changelog( index ).values.forEach(add_log);
    
    function add_log(item,index){
      if ( index >= 0 ){ result+= `<span>- ${item}</span><br>`; }
      else { result+= `<span>- ${item}</span>`; }
    }
    menu( {title:`
    <button class="simple-button simple-round-xlarge simple-theme-button simple-theme-text-1" onclick="if (0 < changeLogIndex){ changeLogIndex--; openChangeLogPage(changeLogIndex); }" > <span> &lt; </span> </button> 
    <button class="simple-button simple-round-xlarge simple-theme-button simple-theme-text-1" onclick="if (changeLogMax > changeLogIndex){ changeLogIndex++; openChangeLogPage(changeLogIndex); }" > <span> &gt; </span> </button>
    `, body:result } );
  }
  
  
  
  
  window.addEventListener( "load", async function () {
    var changelogs = await MeownApi( "changelogs" ).then( ( values )=>{ return values } );
    var result = `<b>Changelogs:</b><br><span>${ changelog( "last" ).name }</span><br>`;
        
    
  function changelog (number){
    number==="last"?number === Object.keys( changelogs ).length-1:number=number;
    if ( number &&! isNaN( number ) ){
      return {
        name: caps( Object.keys( changelogs )[ number ]),
        values: changelogs[ Object.keys( changelogs )[ number ] ]
      }
    }
    else return {
      name: caps( Object.keys( changelogs )[ Object.keys( changelogs ).length-1 ] ),
      values: changelogs[ Object.keys( changelogs )[ Object.keys( changelogs ).length-1 ] ]
    };
  }
  document.getElementById( "changelogs" ).innerHTML = result; 
  });
</script> 
<div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container simple-margin" id="roles">

</div>
  <script>
    window.addEventListener("load", async function () {
      var roles = await MeownApi("users").then((res)=>{return res.roles}),
          resultRoles=[];
      document.getElementById("roles").innerHTML=`
        <p class="left">
        | Owner: ${roles.owner} |
        <br>
        | Developers: ${ roles.developer.toString().replace(/,/g,", ") || "None" } |
        <br>
        | Moderators: ${ roles.moderator.toString().replace(/,/g,", ") || "None" } |
        <br>
        | Helpers: ${ roles.helper.toString().replace(/,/g,", ") || "None" } |
        <br>
        | Verified Creators: ${ roles.verified .toString().replace(/,/g,", ")|| "None" } |
        <br>
        | Beta Testers: ${ roles.verified.toString().replace(/,/g,", ") || "None" } |
        </p>
      `;
    })
  </script>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container simple-margin">
  <ul class="simple-theme-text-1">
    <li><a href="/about" target="_blank">About Meown</a></li>
    <li><a href="#" target="_blank">Contact Me (Not added)</a></li>
    <li><a href="/terms" target="_blank">Terms and Conditions</a></li>
  </ul>
  
  <ul class="simple-theme-text-1">
     <li><a href="/u/orago" target="_blank">Created by Orago</a></li>
  </ul>
  
  <ul class="simple-theme-text-1">
    
  </ul>
</div>
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="simple-col m2 simple-theme-text-1">
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center" id="speec">
      <p><span type="button" id="microphone" onclick="runSpeechRecognition()"><i class="fa fa-microphone fa-fw simple-margin-right"></i></span><span id="action"></span></p>
        <div id="output" class="hide"></div>
      </div><br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center">
      <p id="time" >Open Time<br>(May cause lag)</p>
      </div>
      
      <br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center">
      <p onclick="menu({title:'do you really want ads?'});">ADS</p></div>
      
      <br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-32 simple-center">
        <p><i class="fa fa-bug simple-xxlarge" onclick="menu({title:'Reporting Bugs has not been added yet',body:'Sorry about that :p'});"></i><br>Report bugs</p>
      </div>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
  
<script>
  function caps(text){return text.charAt(0).toUpperCase() + text.slice(1);}
  
// Used to toggle the menu on smaller screens when clicking on the menu button
  async function MeownApi(input){
  var o=o||"";
  var r = await fetch(`/api/${input}`).then(l => l.json()).then(l => l.response)
  return r;
  }
  
  
  
function fix_end(x) {var i=0;for (i = 0; i < x.length; i++) {if (x.endsWith(",") || x.endsWith(" ")) {x = x.slice(0, -1);fix_end(x);}else return x;}}
  
function postMenu(values){
  //console.log(values)
  menu({'title':`@${values.id}, Post #${values.index}`,'body':`
  <form method="post" action="/edit" style="display:inline-block;">
  <input type="hidden" name="method" value="delete-post"> 
  <input type="hidden" name="id" value="${values.id}"> 
  <input type="hidden" name="sentnum" value="${values.index}"> 
  <input type="hidden" name="category" value="${category||"user"}">
  <button type="submit">Delete Post</button>
  </form>
  <button onclick="copy("https://${location.hostname}/u/${values.id||"unknown"}#post-${values.index};");notification("Link Copied!");">Copy URL <i class="fa fa-link">
  </i>&nbsp;
  </button>
  ${values.likes?`<form method="post" action="/edit" style="display:inline-block;"> <input type="hidden" name="method" value="like"> <input type="hidden" name="type" value="posts"> <input type="hidden" name="sentname" value="${values.id}"> <input type="hidden" name="sentid" value="${values.number}"><button type="submit" onclick="notification("<3!")">Likes: <i class="fa fa-heart" ></i>${values?.likes?.length?values.likes:0||0}</button></form>`:""}`});
} 
  
function menu(values){
  values = values || {};
  
  var overlay = {
    main:document.getElementById('overlay'),
    title:document.getElementById('overlayTitle'),
    body:document.getElementById('overlayBody')
  }
  overlay.main.style.display='block';
  overlay.title.innerHTML=values.title||"";
  overlay.body.innerHTML=values.body||"";
}
  
  
  
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
  
function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
  }
  return "";
}
</script>

</body>
</html> 
<div id="overlay" class="simple-modal simple-animate-opacity">
  <div class="simple-modal-content simple-round simple-card simple-theme-l5 simple-theme-border simple-theme-text-1" style="padding:32px">
    <div class="simple-container">
      <i onclick="document.getElementById('overlay').style.display='none'" class="fa fa-remove simple-xlarge simple-round-xxlarge simple-button simple-theme-button"></i>
      <h2 class="simple-wide" id="overlayTitle">Null Title</h2>
      <p id="overlayBody">Null Body</p>
    </div>
  </div>
</div>
<div id="assets"></div>

<!--Loads the extra files that aren't written in the document.-->