
<p id="demo" style="overflow: hidden;width:100%;height: 97%;color:black;"></p>
<script>
myFunction();
function myFunction() {
  function textWall(values){
  var text = values.text
  if (values.url){
  text = `<a href="${values.url}" class="textpageUrl">${text}</a>`
  }
  if (values.spacing){values.spacing=3;}
  return (text+" &nbsp;".repeat(Math.floor(Math.random() * values.spacing+3))).repeat(values.length);
  }
  document.getElementById("demo").innerHTML = textWall(<%- JSON.stringify(values); %>)
}
</script>
<style>
/* unvisited link */
.textpageUrl:link {
  color: black;
}

/* visited link */
.textpageUrl:visited {
  color: black;
}

/* mouse over link */
.textpageUrl:hover {
  color: silver;
}

/* selected link */
.textpageUrl:active {
  color: white;
}
</style>