
<!--<body>
    <h1>Find user</h1>
    <form name="contact-form" method="POST" action="/user">
    <table>
        <tr>
        <td>[Normal Profile] Username</td>
        <td><input type="text" name="username" placeholder="Find User.."></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="submit" ></td>
        </tr>
    </table>
    </form> -->
  
      <form name="contact-form" method="get" action="/u">
    <table>
        <tr>
        <td>[Full Page Profile] Username</td>
        <td><input type="text" name="username" placeholder="Find User.."></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="submit" ></td>
        </tr>
    </table>
    </form>   
  
      <form name="contact-form" method="POST" action="/user-text">
    <table>
        <tr>
        <td>[Text Profile] Username</td>
        <td><input type="text" name="username" placeholder="Find User.."></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="submit" ></td>
        </tr>
    </table>
    </form>   
</body>
<style>
input[type=text] {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://www.w3schools.com/howto/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
</style>
