
<!--<body>
    <h1>Find user</h1>
    <form name="contact-form" method="POST" action="/user">
    <table>
        <tr>
        <td>[Normal Profile] Username</td>
        <td><input type="text" name="username" placeholder="Find User.."></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="submit" ></td>
        </tr>
    </table>
    </form> -->
  
      <form name="contact-form" method="get" action="/u">
    <table>
        <tr>
        <td>[Full Page Profile] Username</td>
        <td><input type="text" name="username" placeholder="Find User.."></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="submit" ></td>
        </tr>
    </table>
    </form>   
  
      <form name="contact-form" method="POST" action="/user-text">
    <table>
        <tr>
        <td>[Text Profile] Username</td>
        <td><input type="text" name="username" placeholder="Find User.."></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="submit" ></td>
        </tr>
    </table>
    </form>   
</body>
<style>
input[type=text] {
  width: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://www.w3schools.com/howto/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
</style>



<script>
app.post("/dashboard-edit-account", urlencodedParser, (request, response) => {
  var method = request.body.method;
  if (!method){return response.send(msg('missing','Method','u'));}
  if(request.cookies['saved-username']==undefined||!request.cookies['saved-username']){return response.send(msg('include','Username','u'));}
  if(!request.cookies['saved-password']){return response.send(msg('include','Password','u'));}
  if (!database.profiles.includes(request.cookies['saved-username'])) {return response.send(msg('no_account','Username','u'));}
  if (bcrypt.compareSync(request.body.sentpass,database.user[request.cookies['saved-username']].password)){
  if (method==="details"){
  var text_add='';
  if(request.body.sentnewpass){database.user[(request.body.sentname)].password=request.body.sentnewpass;text_add+=`New Password: ${request.body.sentnewpass}`}
  if(request.body.sentnewdesc){database.user[(request.body.sentname)].description=request.body.sentnewdesc;}
  if(request.body.sentnewavatar){database.user[(request.body.sentname)].avatar=request.body.sentnewavatar;}
  //console.log(`${request.body.sentnewdesc.toLowerCase()}:${request.body.sentnewpass.toLowerCase()}:${request.body.sentnewavatar.toLowerCase()}`)
  fs.writeFileSync(database_location, JSON.stringify(database, null, 2));
  return response.send(msg('edited','Username','u'));
                        }else{return response.send(msg('missing','Method lol','u'));}
  }else{return response.send(msg('incorrect','Username meh','u'));}
  
});
</script>