<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 30px;
}

/* When the textarea gets focus, do something */
.form-container input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
</head>
<body>

<h2>Popup Chat Window</h2>
<p>Click on the button at the bottom of this page to open the chat form.</p>
<p>Note that the button and the form is fixed - they will always be positioned to the bottom of the browser window.</p>

<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
  <div class="form-container">
    <h1>Chat</h1>
	<ul id="messages"><li class="message-object">Bot: Chat Session Opened!</li></ul>
    <label for="msg"><b>Message</b></label>
    <input placeholder="Type message.." name="msg" id="input" required>

    <button onclick="add_message('me')" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </div>
</div>
<script src="https://beta.meown.tk/tools/functionpack.js"></script>
<script>
try {
var values = {}
var message = {
"values":{"me":["item-1","item2"],"other":["item","item2"]},
"object": document.getElementsByClassName("message-object"),
"div":document.getElementById("messages"),
"input":document.getElementById("input")
}

function add_message(who,message_value){

const newMessage = document.createElement("li");

if (message.object.length > 5){message.object[0].remove(this)}

if (who==="me"){message_value=message.input.value}else{message_value = message.values.other[message.values.other.length-1]}
message.values[who].push(message_value);
message.input.value="";message.input.focus();
newMessage.setAttribute("class", "message-object");
newMessage.innerText = `${who}: ${message_value}`;
message.div.appendChild(newMessage);
}

function openForm() {
  document.getElementById("myForm").style.display = "block";
  values.opened = "true";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
  values.opened = "false";
}

document.addEventListener("keyup", function(event) {
  if (event.code === 'Enter') {
  if (values.opened === "true" && message.input.value.length>0){add_message("me")}else{alert("No!");}
    
  }
});
}//End of Try 
catch (error){alert(error);}
</script>

</body>
</html>








<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://beta.meown.tk/simple.css">
<body oncontextmenu="return false;">

<h2>JavaScript Arrays</h2>
Time Left:<p id="time">0</p>
Clicks:<p id="clicks">0</p>
<input type="number" id="input_time" placeholder="Time">
<button id="left" onclick="left_click();" class="block simple-right-align" style="background:red;width:80%;text-align:center;">CLICK ME</button>
<script>
var sec,seconds=5,left,right;

  function reset(){
left = 0,right=0,time=5;
var input = document.getElementById("input_time");
if (input.value){time=input.value}
start_timer(time);
}

function start_timer(seconds,element){
 element = document.getElementById("time");
  var timer = setInterval(function() {
    element.innerHTML = seconds;
    seconds--;
    if (seconds<0){result();clearInterval(timer);return element.innerHTML = "STOP!"}
    sec = seconds;
  }, 1000);
  }
  
window.oncontextmenu = function ()
{add_click();return false;}
function result(){
document.getElementById("left").disabled = true;
alert(`Left: ${left}, Right: ${right}`);
}
function left_click(){
if (sec > 0){}else{reset();}
if (!isNaN(left)){left++}else{left = "ERROR"};
document.getElementById("clicks").innerHTML = left;
}

function right_click(){
if (sec > -){}else{reset();}
if (!isNaN(right)){right++}else{right = "ERROR"};
document.getElementById("clicks").innerHTML = right;
}
</script>

</body>
</html>














<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://beta.meown.tk/simple.css">
<body oncontextmenu="return false;">

<h2>JavaScript Arrays</h2>
Time Left:<p id="time">0</p>
Clicks:<p id="clicks">0</p>
<input type="number" id="input_time" placeholder="Time">
<button id="left" onclick="left_click();" class="block simple-right-align" style="background:red;width:80%; ">CLICK ME</button>
<script>
var seconds=0,left=0,right=0;

  function reset(){
left = 0,right=0,time=5;
var input = document.getElementById("input_time");
if (input.value){time=input.value}
start_timer(time);
}

function start_timer(seconds,element){
 element = document.getElementById("time");
  var timer = setInterval(function() {
    element.innerHTML = seconds;
    seconds--;
    if (seconds<0){result();clearInterval(timer);return element.innerHTML = "STOP!"}
  }, 1000);
  }
  
window.oncontextmenu = function ()
{right_click();return false;}


function left_click(){
if (seconds < 0){reset();}
if (!isNaN(left)){left++}else{left = "ERROR"};
document.getElementById("clicks").innerHTML = left;
}

function right_click(){
if (seconds < 0){reset();}
if (!isNaN(right)){right++}else{right = "ERROR"};
document.getElementById("clicks").innerHTML = right;
}
</script>

</body>
</html>

