<!DOCTYPE html>
<html lang="en">
<head id="header">
<%- values.infoData(`Homepage!`) %>
<meta charset="UTF-8">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/assets/js/tools.js" defer></script>
<link href="/assets/css/tools.css" rel="stylesheet">
<link href="/assets/css/simple.css" rel="stylesheet">
<link href="/assets/css/meown.css" rel="stylesheet">
<link href="/assets/css/simple-theme.css" rel="stylesheet">
</head>
<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
<body class="simple-theme-background">
<!-- Navbar -->
<div class="simple-navbar">
  
 <div class="simple-bar simple-theme-d2 simple-theme-border simple-left-align simple-large simple-round-xlarge">
  <br>
  <a class="simple-bar-item simple-hide-medium simple-hide-large simple-right simple-padding-large simple-hover-white simple-theme-d2 simple-round simple-mobile-button" ><i class="fa fa-bars"></i></a>
   
   <a href="#" class="simple-bar-item simple-button simple-padding-large simple-theme-logo simple-round">
    <i class="fa fa-home simple-margin-right"></i>Meown
   </a>
   <div class="simple-bar-item simple-button simple-hide-small simple-right simple-padding-large simple-hover-white simple-dropdown-hover" title="My Account" >
    <div id="Status" class="simple-round simple-theme-d2 simple-dropdown-content simple-bar-block simple-theme-border simple-round" style="width:300px;right:0;top:78px;">
     
    </div>
    <img onclick="location.replace('/u')" class="simple-circle simple-theme-border " style="height:30px;width:30px" alt="Avatar" id="myAvatar">
     <script>
       window.addEventListener("load", async function () {
         document.getElementById("myAvatar").setAttribute("src", await MeownApi(`user/${getCookie("saved-username")||"guest"}`).then((res)=>{
           return res.avatar;
         })||"");
      });
     </script>
   </div>
   <!-- Navbar on small screens -->
  <div class="simple-bar-block simple-theme-d2 simple-hide-large simple-hide-medium simple-large simple-mobile-options">
  <span id="mobileStatus"></span>
  </div>
   
 </div>
  <script>
    window.addEventListener("load", function () {
    var mobileStatus = document.getElementById("mobileStatus"),
        status = document.getElementById("Status"),
        me = getCookie("saved-username")||false;
      
    if (me){
      status.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button">Dashboard</a>
      <form method="get" action="/logout"><button type="submit" class="simple-bar-item simple-button">Logout</button></form>`;
      mobileStatus.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button simple-padding-large">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button simple-padding-large">Dashboard</a>`;
    }
    else{
      status.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button">Login</a>
      <a href="/register" class="simple-bar-item simple-button">Register</a>`;
      mobileStatus.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button simple-padding-large">Login</a>
      <a href="/register" class="simple-bar-item simple-button simple-padding-large">Register</a>`;
    }
    status.innerHTML+=`
    <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find User" style="width:20vw;"></form>
    <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find Community" style="width:20vw;"></form>
    <a onclick="window.opener=null;window.open('','_self');window.close();window.history.go(-1);" class="simple-bar-item simple-button">Close</a>`
    mobileStatus.innerHTML+=`
    <a onclick="window.close();" class="simple-bar-item simple-button simple-padding-large">Close</a>`;
});
  </script>
</div>

<!-- Page Container -->
<div class="simple-container=" style="max-width:1400px;margin-top:50px">   
  
 <br>

 <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container">
        <p class="crenzo center simple-center simple-theme-text-1 simple-text-large">Welcome to Meown!</p>
 </div>
  
 <br>
  
        <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container">
        <p>
          Meown is supposed to be a very simple social media with a quite simple database structure capable of doing many things making it easier to expand!
        </p>
        <p>
          Feel free to <a class="simple-button simple-theme simple-round" href="u#register">Join now !</a>
          and be one of the 
          <a id="userCount">
          0
          <script>window.addEventListener("load", async function () {document.getElementById("userCount").innerHTML=await MeownApi("users").then((res)=>{return res.size;})});</script> 
          </a>
          
          peeps to try Meown.
        </p>
          
        <p>
          There is currently 
          <a id="communiyCount">
          0
          <script>window.addEventListener("load", async function () {document.getElementById("communiyCount").innerHTML=await MeownApi("communities").then((res)=>{return res.size;})});</script>
          </a>
          
          Communties, So why wait when you can be a part of one!
        </p>
   

   </div>
  
  <br>
  <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container"><iframe src="/land-of-boxies" title="description" class="simple-center" style="display:block;border:none;width:30vw;height:60vh;margin-left: auto;margin-right: auto;" id="landOfBoxies"></iframe>
  <script>document.getElementById("landOfBoxies").addEventListener("load", ev => {
    const new_style_element = document.createElement("style");
    new_style_element.textContent = "body {background-color:transparent;}"
    ev.target.contentDocument.head.appendChild(new_style_element);
});</script>
  </div>
   <br>
<div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container" id="changelogs">Not Loaded</div>
<script>
  window.addEventListener( "load", async function () {
    var changelogs = await MeownApi( "changelogs" ).then( ( values )=>{ return values } ),
        result = `<b>Changelogs:</b><br>${ changelog( "last" ).name }<br>`;
    
  function changelog (number){
    number==="last"?number === Object.keys( changelogs ).length-1:number=number;
    if ( number &&! isNaN( number ) ){
      return {
        name: caps( Object.keys( changelogs )[ number ]),
        values: changelogs[ Object.keys( changelogs )[ number ] ]
      }
    }
    else return {
      name: caps( Object.keys( changelogs )[ Object.keys( changelogs ).length-1 ] ),
      values: changelogs[ Object.keys( changelogs )[ Object.keys( changelogs ).length-1 ] ]
    };
  }
  changelog( "last" ).values.forEach(add_log);
  function add_log(item,index){
    if ( index >= 0 ){
      result+= `- ${item}<br>`;
    }
    else {
      result+= `- ${item}`;
    }
  }
  document.getElementById( "changelogs" ).innerHTML = result; 
  });
</script> 
  
  <br>
<div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-container" id="roles">

</div>
  <script>
    window.addEventListener("load", async function () {
      var roles = await MeownApi("users").then((res)=>{return res.roles}),
          resultRoles=[];
      document.getElementById("roles").innerHTML=`
        <p class="left">
        | Owner: ${roles.owner} |
        <br>
        | Developers: ${ roles.developer || "None" } |
        <br>
        | Moderators: ${ roles.moderator || "None" } |
        <br>
        | Helpers: ${ roles.helper || "None" } |
        <br>
        | Verified Creators: ${ roles.verified || "None" } |
        <br>
        | Beta Testers: ${ roles.verified || "None" } |
        </p>
      `;
    })
  </script><!-- End Page Container -->
</div>
  
<br>

<footer class=" simple-card simple-theme-d2 simple-theme-border" style="display:grid;grid-template-columns:auto auto auto auto;grid-auto-flow: row dense;">
  <ul class="simple-theme-text-1">
    <li><a href="/about" target="_blank">About Meown</a></li>
    <li><a href="#" target="_blank">Contact Me (Not added)</a></li>
    <li><a href="/terms" target="_blank">Terms and Conditions</a></li>
  </ul>
  
  <ul class="simple-theme-text-1">
     <li><a href="/u/orago" target="_blank">Created by Orago</a></li>
  </ul>
  
  <ul class="simple-theme-text-1">
    
  </ul>
</footer>
  <noscript>
  
  </noscript>
<script>
  function caps(text){return text.charAt(0).toUpperCase() + text.slice(1);}
  
// Used to toggle the menu on smaller screens when clicking on the menu button
  async function MeownApi(input){
  var o=o||"";
  var r = await fetch(`/api/${input}`).then(l => l.json()).then(l => l.response)
  return r;
  }
  
  /*
  async function MeownApi(i){
  // var i is for Input
  // var o is for Options
  // var r is for Response
  var o=o||"";
  var r=await fetch(`/api/${i}`).then(l => l.json()).then(l => l.response)
  return r;
  }
  */
  /*(async function(){
      async function MeownApi(input){
  var options=options||""
  var response = await fetch(`https://meown.ml/api/${input}`).then(l => l.json()).then(l => l.response)
  return response;
  }
    await MeownApi("users").then((res)=>{return alert(res);})
  })();
  */

  
  
  
function fix_end(x) {var i=0;for (i = 0; i < x.length; i++) {if (x.endsWith(",") || x.endsWith(" ")) {x = x.slice(0, -1);fix_end(x);}else return x;}}
  
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
  
function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
  }
  return "";
}
</script>

</body>
</html> 
<div id="popup" class="simple-modal simple-animate-opacity">
  <div class="simple-modal-content simple-round simple-card simple-theme-l5 simple-theme-border simple-theme-text-1" style="padding:32px">
    <div class="simple-container">
      <i onclick="document.getElementById('popup').style.display='none'" class="fa fa-remove simple-xlarge simple-button simple-transparent simple-right simple-xlarge"></i>
      <h2 class="simple-wide" id="popupTitle">Null Title</h2>
      <p id="popupBody">Null Body</p>
    </div>
  </div>
</div>
<div id="assets"></div>

<!--Loads the extra files that aren't written in the document.-->